<div class="card" style="margin-top: 100px;">
    <div class="card-header d-flex justify-content-between">
        <h4>User</h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone number</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.users}}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Gmail}}</td>
                    <td>{{Address}}</td>
                    <td>{{Phone}}</td>
                <form method="post">
                    <td class="text-right" style="width: 250px;">
                        {{#if (eq Block 1)}}
                        <button
                                type="submit"
                                class="btn btn-sm btn-danger"
                                formaction="/admin/user/block?id={{Gmail}}"
                        >
                        Block
                        </button>
                        {{else}}
                        <button
                                type="submit"
                                class="btn btn-sm btn-success"
                                formaction="/admin/user/unblock?id={{Gmail}}"
                        >
                        Unblock
                        </button>
                    {{/if}}
                    </td>
                </form>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>